*.la
*.lo
*.o
.libs/
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
vxi.h
vxi_clnt.c
vxi_xdr.c
