*.o
.deps/
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libvxiclient.a
libvxiserver.a
missing
stamp-h1
vxi.h
vxi_clnt.c
vxi_intr.h
vxi_intr_clnt.c
vxi_intr_svr.c
vxi_intr_xdr.c
vxi_svr.c
vxi_xdr.c
